extends base.jade

block body
  .stuff
    .thing
      table.table.table-sm.table-striped.table-bordered.table-hover
        caption
          h3 Task Master (clone)
        thead
          tr
            th#task Task
            .addact
              th#add Added
              th#act Action
        tbody
          each post in posts
            tr
              td= post.content
              td= post.date_created.date()
              td
                a(href="/update/#{post.id}") Update
                br
                a(href="/delete/#{post.id}") Delete
    .form
      form(action="/", method="POST")
        input(type="text", name="content", id="content").form-control
        input(type="submit", value="Add Task").btn.btn-primary
